# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!glew32.lib
!glew32s.lib
!glfw3.lib
!glfw3_mt.lib
!glfw3dll.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs
.vs/*

# Build
Debug/*
x64/*